munit-recorder/connectors/munit-recorder-http.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/munit-tools http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd">
	<sub-flow name="munit-recorder-http" doc:id="2bb9a7f5-9947-4c86-8aff-9a5d4b6f11f4" >
		<munit-tools:spy doc:name="Spy on every http:request" doc:id="c0b3278e-3b94-4548-b4b3-dc8ef381daaf" processor="http:request" >
			<munit-tools:before-call >
				<set-payload value="#[payload default vars.params]" doc:name="Set Payload" doc:id="90cdc5bb-c17a-4fb9-88c8-35b5090623bd" />
				<flow-ref doc:name="before call" doc:id="677a8ed0-972f-417a-971b-6853f853cdce" name="munit-recorder-before-call" />
			</munit-tools:before-call>
			<munit-tools:after-call >
				<flow-ref doc:name="munit-recorder-set-http-name" doc:id="847b81dc-8cad-498d-ad84-3573b426f17a" name="munit-recorder-set-http-name" />
				<flow-ref doc:name="after call" doc:id="899cb80e-2c29-43cd-be5a-2e34e4ffcb03" name="munit-recorder-after-call" />
			</munit-tools:after-call>
		</munit-tools:spy>
	</sub-flow>
	<flow name="mock-on-http" doc:id="7a65a1e2-3262-45af-a0c5-90fed94e8223" >
		<set-payload value="#[payload default vars.params]" doc:name="Set Payload" doc:id="2e569f74-0bec-4a53-b785-483cdcb3bcd2" />
		<flow-ref doc:name="Flow Reference" doc:id="a04cf1d4-6dde-41d2-b535-c8f94f44c954" name="munit-recorder-set-http-name" />
		<flow-ref doc:name="mock-component" doc:id="1cd9ee2a-99fe-48ac-b094-d7533c78bb32" name="munit-recorder-mock-component" />
	</flow>
	<sub-flow name="munit-recorder-set-http-name" doc:id="68460d16-fb68-4f73-bdd4-d2b7fda55506" >
		<set-variable value="HTTP" doc:name="recordedComponent = HTTP" doc:id="8c8eb6cf-bd7f-4011-8f40-5db499ed59a0" variableName="recordedComponent" />
	</sub-flow>
</mule>
